<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>책상 정리 추천 받기</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <style>
      /* 이미지 기본 CSS */
      .img {
        width: 150px;
        height: 120px;
      }

      /* 빨간색 포커스 */
      .selected {
        border: 3px solid #770000;
      }

      /* 밝게하기 */
      .brighten {
        filter: brightness(140%);
      }
    </style>

    <script>
      let total_selected = 0; // 선택한 이미지 갯수
      window.onload = () => {
        send.addEventListener("click", async function () {
          let send = document.getElementById("send");

          // let tags = document.getElementsByName("recommend");
          let tags = document.querySelectorAll("[name='recommend']"); // 여러개의 태그 검색
          let values = []; // 서버로 전달할 값 저장
          // console.log('-> ' + tags.length);

          let pick_count = 0; // 선택한 이미지 카운터
          for (let i = 0; i < tags.length; i++) {
            // 50번 순환
            let tag = tags[i]; // 태그 추출
            let pick = tag.getAttribute("data-value"); // 0 또는 1, 이미지 선택 여부
            // console.log('-> ' + pick);

            if (pick == 1) {
              // 선택한 이미지이면 카운터 증가
              let pick_filename = tag.getAttribute("data-filename"); //선택이미지
              values.push(pick_filename); // 선택한 확장자 없는 파일명(숫자)가 저장된다.

              pick_count = pick_count + 1;
            }
          }

          // console.log(values);
          // return;

          if (pick_count == 8) {
            // 이미지가 8개 선택되면 다음으로 자동 진행
            // console.log(values);
            let desk = values.join(","); // 배열의 값을 ','로 연결
            console.log("-> desk: " + desk);

            document.getElementById("desk").setAttribute("value", desk);
            document.getElementById("processing").innerHTML =
              '<img src="/static/images/progress.gif" style="width: 3%; margin-top: 10px;">';

            // await: 처리가 끝날때까지 대기 상태로 진입, 다른 기능이 실행 정지됨.
            await fetch("http://localhost:5000/desk", {
              method: "post",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ desk }), //{"desk":desk}
            })
              .then((response) => response.json())
              .then((data) => {
                result.innerHTML = data["res"];
                document.getElementById("processing").innerHTML = "";
              });
          } else if (pick_count > 8) {
            // 이미지가 5개 이상 선택되면 메시지 출력
            document.getElementById("processing").innerHTML =
              "<br>이미지 선택은 8개만 가능합니다.<br>";
          } else {
            document.getElementById("processing").innerHTML =
              "<br>이미지 선택이 부족합니다.<br>";
          }
        });
      };

      function applyCSS(event) {
        // 이벤트 정보를 가지고 있음.
        const img = event.target; // event: click을 한 태그
        const data_selected_panel = document.getElementById(
          "data_selected_panel"
        );

        let sw = img.getAttribute("data-value"); // 값 추출, data-: 개발자가 추가한 속성
        let data_selected = parseInt(
          data_selected_panel.getAttribute("data-selected")
        );

        if (data_selected >= 8 && sw == 0) {
          alert("이미지는 최대 8개까지 선택 할 수 있습니다.");
        } else {
          img.classList.toggle("selected"); // class 토글 효과, selected가 없으면 적용, 있으면 해제 ★
          img.classList.toggle("brighten"); // class 토글 효과

          if (sw == 0) {
            // 반전 효과
            img.setAttribute("data-value", 1); // 선택
            data_selected = data_selected + 1;
          } else {
            img.setAttribute("data-value", 0);
            data_selected = data_selected - 1;
          }

          data_selected_panel.setAttribute("data-selected", data_selected); // 변경된 카운트 기록
          data_selected_panel.innerHTML =
            " 현재 " + data_selected + "개 이미지 선택";

          document.getElementById("result").innerHTML = ""; // 추천 분야 출력
          document.getElementById("processing").innerHTML = ""; // 처리중 animation 삭제
        }
      }
    </script>
  </head>
  <body>
    <form id="frm">
      <input type="hidden" id="desk" name="desk" value="" />
    </form>

    <div style="width: 90%; margin: 30px auto; text-align: center">
      <h3>ChatGPT 책상 정리 추천 시스템</h3>
      <b
        >관심있는 이미지를 8개를 선택하세요.<span
          id="data_selected_panel"
          data-selected="0"
        ></span
      ></b>
    </div>

    <div style="width: 90%; margin: 30px auto; text-align: center">
      {% for filename in filenames %}
      <img
        id="{{loop.index}}"
        name="recommend"
        src="/static/desk/images/{{filename}}.jpg"
        class="img"
        onclick="applyCSS(event)"
        data-value="0"
        data-filename="{{filename}}"
      />
      {% endfor %}

      <br /><br />
      <div id="result"></div>
      <br />
      <button type="button" id="send" class="btn btn-info btn-sm">
        추천 받기
      </button>
      <br />
      <div id="processing"></div>
    </div>
  </body>
</html>
